<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>SISTEMA EPIS 2021 - HUAYTA</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js" integrity="sha512-I9p4eOeWXGM9m5GhJYd3UDUA5Lr+Epp5e4ykWFYW9hv3jZqdR92S5p+ApMSWuMaV4E+JqILepP1G9kNer4AFGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('join', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '[' + data.msg + ']\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#send').click(function(e) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('index') }}";
                });
            }
        </script>
  </head>

  <body background="https://www.eluniverso.com/resizer/bCFdWhE5yqr9PV9PO9iTHjYUsfg=/420x280/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/DI52HAU7W5FT7D5TPJL6XT26YQ.jpg" class="text-center">
    
    <div class="chatwindow">
      <h2 >SISTEMA EPIS 2021 - HUAYTA</h2>
      <h2>SALA : {{session['room']}}</h2><br>
      <textarea id="chat" cols="70" rows="10" placeholder="Aún no hay mensajes. Empiece uno ..."></textarea><br /><br />
      <input type="text" id="text" size="60" placeholder="Introduzca su mensaje aquí" />
      <button type="button" id="send" class="btn btn-success">ENVIAR MENSAJE</button><br /><br />
      <center><button type="button" class="btn btn-danger" onclick=leave_room()>Abandonar Chat</button></center>
    </div>
  </body>
</html>
